{% extends "base.html" %}

{% block content%}
<style>
.day {
	width: 300px;
	display: inline;
	float: left;
	padding:15px;
	border: 15px;
}
</style>

<h1>Vett. RN2014 - Somme giornaliere</h1>

<p style="border:1px solid black; padding:15px; margin:15px;">
<b>Legenda</b><br/>
Iscritti: persone vere del db iscrizioni<br/>
Virtuali: persone oneteam inserite per manipolare le somme<br/>
Preventivati : i numeri dell'allegato A1 concordato con CAMST<br/>
Ordinati: Iscritti + Virtuali
</p>

<table class="table table-striped">
	<tr>
		<th>Giorno</th>
		<th>Pasto</th>
		<th>Iscritti</th>
		<th>Virtuali</th>
		<th>Preventivati</th>
		<th>Preventivati - Ordinati</th>
	</tr>
	{% for v in std %}
	<tr>
		<td>{{ v.0 }} agosto</td>
		<td>{{ v.1 }}</td>
		<td>{{ v.2 }}</td>
		<td>{{ v.3 }}</td>
		<td>{{ v.4 }}</td>
		<td>{{ v.5 }}</td>
	</tr>
	{% endfor %}
<table>

{% endblock %}