{% extends "base.html" %}

{% block content%}
<style>
.day {
	width: 300px;
	display: inline;
	float: left;
	padding:15px;
	border: 15px;
}
</style>

<h1>Somme giornaliere</h1>

<div class="day">
	<h2>4 agosto</h2>
	<table class="table table-striped">
		<tr>
			<td rowspan="4" >Colazione</td>
			<td>1</td>
g		<tr>
			<td>Pranzo</td>
			<td></td>
		</tr>
		<tr>
			<td>Cena</td>
			<td></td>
		</tr>
	</table>
</div>
<div class="day">
	<h2>5 agosto</h2>
	<table class="table table-striped">
		<tr>
			<td>Colazione</td>
			<td></td>
		</tr>
		<tr>
			<td>Pranzo</td>
			<td></td>
		</tr>
		<tr>
			<td>Cena</td>
			<td></td>
		</tr>
	</table>
</div>
<div class="day">
	<h2>6 agosto</h2>
	<table class="table table-striped">
		<tr>
			<td>Colazione</td>
			<td></td>
		</tr>
		<tr>
			<td>Pranzo</td>
			<td></td>
		</tr>
		<tr>
			<td>Cena</td>
			<td></td>
		</tr>
	</table>
</div>
<div class="day">
	<h2>7 agosto</h2>
	<table class="table table-striped">
		<tr>
			<td>Colazione</td>
			<td></td>
		</tr>
		<tr>
			<td>Pranzo</td>
			<td></td>
		</tr>
		<tr>
			<td>Cena</td>
			<td></td>
		</tr>
	</table>
</div>
<div class="day">
	<h2>8 agosto</h2>
	<table class="table table-striped">
		<tr>
			<td>Colazione</td>
			<td></td>
		</tr>
		<tr>
			<td>Pranzo</td>
			<td></td>
		</tr>
		<tr>
			<td>Cena</td>
			<td></td>
		</tr>
	</table>
</div>
<div class="day">
	<h2>9 agosto</h2>
	<table class="table table-striped">
		<tr>
			<td>Colazione</td>
			<td></td>
		</tr>
		<tr>
			<td>Pranzo</td>
			<td></td>
		</tr>
		<tr>
			<td>Cena</td>
			<td></td>
		</tr>
	</table>
</div>
<div class="day">
	<h2>10 agosto</h2>
	<table class="table table-striped">
		<tr>
			<td>Colazione</td>
			<td></td>
		</tr>
		<tr>
			<td>Pranzo</td>
			<td></td>
		</tr>
		<tr>
			<td>Cena</td>
			<td></td>
		</tr>
	</table>
</div>
<div class="day">
	<h2>11 agosto</h2>
	<table class="table table-striped">
		<tr>
			<td>Colazione</td>
			<td></td>
		</tr>
		<tr>
			<td>Pranzo</td>
			<td></td>
		</tr>
		<tr>
			<td>Cena</td>
			<td></td>
		</tr>
	</table>
</div>
<div class="day">
	<h2>12 agosto</h2>
	<table class="table table-striped">
		<tr>
			<td>Colazione</td>
			<td></td>
		</tr>
		<tr>
			<td>Pranzo</td>
			<td></td>
		</tr>
		<tr>
			<td>Cena</td>
			<td></td>
		</tr>
	</table>
</div>
<div class="day">
	<h2>13 agosto</h2>
	<table class="table table-striped">
		<tr>
			<td>Colazione</td>
			<td></td>
		</tr>
		<tr>
			<td>Pranzo</td>
			<td></td>
		</tr>
		<tr>
			<td>Cena</td>
			<td></td>
		</tr>
	</table>
</div>
{% endblock%}