{% extends "base.html" %}

{% block title %}
Programma pasti - Export data
{% endblock%}

{% block content %}
<h1 style="display:inline">Dati da esportare - {{number_of_records}} records </h1>
<a href="/stock-assign/orders/csv">
	<h3>Scarica in formato csv</h3>
</a>

{% if persons %}
<table id="maindata" class="table table-striped table-hover">	
	{% for p in persons %}
		<tr>
		{% for v in p%}
		<td>{{ v }}</td>
		{% endfor %}
		</tr>
	{% endfor %}
</table>
{% else %}
No rows.
{% endif %}

<script>
row = document.querySelector("table#maindata > tbody > tr:first-child")
row.innerHTML = row.innerHTML.replace(/td/g, "th");

</script>
{% endblock %}
</html>